<div class='control'>
	<h1>Control view</h1>
	<p>Views: <a [routerLink]="['/live']">Live</a> <a [routerLink]="['/moderate']">Moderation</a></p>
	<div *ngIf="!configuration">Waiting for configuration...</div>
	<div *ngIf="configuration">
		<div>
			Performance: <span *ngIf="currentPerformance">{{currentPerformance.title}} ({{currentPerformance.id}})</span><br>
			<select [(ngModel)]="nextPerformanceId">
				<option [ngValue]="null"></option>
				<option *ngFor="let p of configuration.performances" value="{{p.id}}">{{p.title}} ({{p.id}})</option>
			</select>
			<input type="button" (click)="startPerformance()" value="Start Performance">
		</div>
		<div>
			<div>Reposts received: {{shareItems.length}}. Approved selfies received: {{shareSelfies.length}}</div>
		</div>
		<div>
			<input type="button" class="button" [ngClass]="{disabled: !currentPerformance}" [disabled]="!currentPerformance" value="Go" (click)="onGo()">
			<!-- <input type="button" class="button" value="Reset" (click)="onReset()">  -->
		</div>
		<div class="items">
			<table>
				<thead>
					<th>Next</th>
					<th>Number</th>
					<th>Action</th>
					<th>Done</th>
					<th>Description</th>
					<th>Preview</th>
				</thead>
				<tbody>
					<tr *ngFor="let scheduleItem of configuration.scheduleItems; index as ix">
						<td>
							<span *ngIf="ix == playheadIx">=></span>
						</td>
						<td>{{scheduleItem.itemNumber}}</td>
						<td >
							<input type="button" class="button" value="Cue" (click)="onCue(ix)">
							<button (click)="postItem(scheduleItem)">Do</button>
						</td>
						<td><span>{{scheduleItem.postCount ? scheduleItem.postCount : ''}}</span></td>
						<td>
								<span> {{scheduleItem.title}} </span>: 
								<span *ngIf="scheduleItem.itemType"> {{scheduleItem.itemType}} </span>
								<span *ngIf="scheduleItem.closePolls"> Close poll/quiz </span>
								<span *ngIf="scheduleItem.videoState"> video mode {{scheduleItem.videoState.mode}} </span>
						</td>
						<td>
							<div class="control-header">
								<button *ngIf="scheduleItem.item" (click)="scheduleItem.showPreview = !scheduleItem.showPreview">show/hide preview</button>
							</div>
							<div class="item-preview" *ngIf="scheduleItem.item && scheduleItem.showPreview" >
								<item-view [item]="scheduleItem.item"></item-view>
							</div>
						</td>
					</tr>
				<tbody>
			</table>
		</div>
	</div>
</div>
