.item {
	margin: 5px;
	padding: 4px;
	font-size: 250%;
	font-family: Lato, Ariel, Helvetica, sans-serif;
}
.item_repost_header {
	margin-bottom: 3pt;
}
.item_header:after {
	content: "";
	display: table;
	clear: both;
}
.item_title {
	padding-left: 0.2em;
	font-family: "CATChilds", Times, serif;
}
div.item_user_icon {
	float:left;
	display: block;
	width: 64px;
	height: 64px;
}
img.item_user_icon {
	width: 64px;
	height: 64px;
}
.item_header2 {
	float:left;
/*	width:420px; */
}
.item_header {
}
.item_date {
	color: grey;
}
.item_content {
	margin: 5px;
}
div.item_image {
	margin: 5px;
}
img.item_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	min-width: 32px;
	min-height: 32px;
}
.quiz_question {
	margin: 5px;
}
.quiz_option {
	margin-left: 2em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.quiz_option.quiz_correct > .quiz_option_content > div {
	background: #555;
	border: 1px solid white;
}
.quiz_option.quiz_incorrect > .quiz_option_content > div {
	color: #555;
}
.quiz_option:after {
	content: "";
	clear: both;
	display: table;
}
.quiz_option_content {
	display: block;
	float:left;
	width: 80%;
	text-align: left;
}
.quiz_option_content > div {
	border: 1px solid #555;
	border-radius: 0.2em;

	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}
.quiz_option_count {
	display: block;
	float:left;
	width: 20%;
/*	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
*/	text-align: center;
}
.quiz_prompt {
	margin: 5px;
}
