<div class="item">
		<div class="item_header">
			<div class="item_user_icon"><img class="item_user_icon" [src]="item.user_icon"></div>
			<div class="item_header2">
				<div class="item_title">{{item.user_name}}</div>
				<div class="item_date">{{item.date}}</div>
			</div>
		</div>
		<div *ngIf="simpleItem" class="item_content">{{simpleItem.content}}</div>
		<div *ngIf="simpleItem && simpleItem.image" class="item_image"><img class="item_image" [src]="simpleItem.image"></div>
		<div *ngIf="simpleItem" class="item_likes">{{simpleItem.likes}} Likes</div>
</div>
