<div class="liveui">
	<div #videoDiv class="videoSide" [ngClass]="{hide: hideVideo}">
		<canvas #videoCanvas></canvas>
	</div>
	<canvas #selfieCanvas style="display:none" width="2048" height="2048"></canvas>
	<div #feedChild class='feed'>
		<div #itemsChild class='items' [style.top.px]="top">
			<div class='feed_title' *ngIf="showTitle">Live component</div>
			
			<div *ngFor="let item of items; index as i" >
				<div *ngIf="i!=0" class="viewDivider"><div class="viewDividerContent"><img src="assets/ViewDivider.png"></div></div>
				<item-view [item]="item"></item-view>
			</div>
		</div>
	</div>
</div>
