.liveui {
}
.feed {
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	max-width: 768px;
	padding: 10px;
}
.feed_title {
	font-size: 24px;
}
.itemHolder {
	transition: opacity 0.5s;
	transition: all 2s;
	/*transition: top 1s;*/
	max-height: 0;
	overflow: hidden;
	opacity: 0;
}
.itemHolder.show {
	max-height: 1024px;
	opacity: 1;
}
.items {
	width: 100%;
	position: absolute;
	/*top: 0px;*/
	transition: top 1s;
}
.videoSide {
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 50%;
	display: none;
}
.videoSide > canvas {
	width: 100%;
	height: 100%;
}
.videoSide.hide {
	opacity: 0;
}
.hiddenVideo {
	display: none;
}
div.viewDivider {
	padding-top: 30px;
	padding-bottom: 30px;
}
div.viewDividerContent {
	width: 80%;
	margin: auto;
}
div.viewDividerContent > img {
	width: 100%;
	height: auto;
}
