div.bodyPaper {
	background: #e0d2bc;
	background-image: url("/assets/Paper.jpg");
	background-repeat: repeat;
	color: black;
	padding: 8px;
	min-height: 823px;
}
div.bodyDark {
	background: #000;
	color: white;
	padding: 8px;
}
div.landing {
	z-index: 10;
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background: #2a3a2d;
	//border: 3px solid #333;
	background-image: url("/assets/BookCover.jpg");
	//height: 823px;
	background-position: center; 
	background-repeat: repeat;
	overflow: scroll;
}
div.geraldineFace {
	margin-top: 5%;
	width: 65%;
	height: auto;
	margin: auto;
}
div.geraldineFace > img {
	width: 100%;
}
div.landingBorder {
	width: 95%;
	margin: auto;
}
div.landingL {
	width: 15%;
	height: auto;
	display: inline-block;
}
div.landingL > img {
	width: 100%;
	height: auto;
}
div.landingM {
	width: 69%;
	display: inline-block;
}
div.landingR {
	width: 15%;
	height: auto;
	display: inline-block;
}
div.landingR > img {
	width: 100%;
	height: auto;
}
div.landing.touched {
	//background: #222;
	//border: 3px solid #555;
}

p.coverText {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-left: 5px;
	margin-right: 5px;
	color: #cbb043;
	font-size: 28pt;
	text-align: center;
	vertical-align: middle;
	font-family: "CATChilds", Times, serif;
}
.titleText {
	font-family: "CATChilds", Times, serif;
}
.profile_name {
	font-family: "CATChilds", Times, serif;
}
.menuItem {
	font-family: "CATChilds", Times, serif;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	margin-left: 0.1em;
	margin-right: 0.1em;
	text-align: center;
	vertical-align: middle;
	font-size: 170%;
}
div.button {
	display: inline-block;
	text-decoration: underline;
/*	background: #333;
	border: 1px solid #555;
	border-radius: 0.2em;
*/	margin: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}
a.button {
	display: inline-block;
	text-decoration: underline;
/*	background: #333;
	border: 1px solid #555;
	border-radius: 0.2em;
*/	margin: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}
span.toggleFullscreen {
	font-size: 0.4em;
	color: #666;
}
.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: -101%;
  background: #e0d2bc;
  background-image: url("/assets/Paper.jpg");
  background-repeat: repeat;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
  border-right: 2px solid #333;
  overflow-y: scroll;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav.sidenavopen {
    /*width: 80%;*/
    left: 0;
}
.sidenav > h1 {
	position: relative;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1.title {
	margin-top: 0.2em;
	margin-bottom: 0.3em;
}
div.mediaSpacer {
	height: 0.5em;
}
div.mediaTopBorder {
	width: 100%;
	margin: auto;
	height: 1.2em;
	overflow: visible;
}
div.mediaBottomBorder {
	width: 100%;
	margin: auto;
	position: relative;
	top: -1.2em;
	overflow: visible;
}
div.mediaL {
	width: 15%;
	height: auto;
	display: inline-block;
}
div.mediaL > img {
	width: 100%;
	height: auto;
}
div.mediaM {
	width: 69%;
	display: inline-block;
}
div.mediaR {
	width: 15%;
	height: auto;
	display: inline-block;
}
div.mediaR > img {
	width: 100%;
	height: auto;
}
div.mediaHolder {
	position: relative;
	min-height: 200px;
	width: 90%;
	margin: auto;
	z-index: 1;
}
/* item layout - just copied from local-ui to start off with */
.item {
	/*border: 1px solid white;*/
	margin: 5px;
	padding: 4px;
}
.item_repost_header {
	margin-bottom: 3pt;
}
.item_header:after {
	content: "";
	display: table;
	clear: both;
}
.item_title {
	padding-left: 0.2em;
	font-family: "CATChilds", Times, serif;
}
div.item_user_icon {
	float:left;
	display: block;
	width: 32px;
	height: 32px;
}
img.item_user_icon {
	width: 32px;
	height: 32px;
}
.item_header2 {
	float:left;
	/*width:420px;*/
}
.item_header {
	
}
.item_date {
	color: grey;
}
.item_content {
	margin: 5px;
}
div.item_image {
	margin: 5px;
}
img.item_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	min-width: 32px;
	min-height: 32px;
}
.quiz_question {
	margin: 5px;
}
.quiz_option {
	margin-left: 2em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.quiz_option.quiz_correct > .quiz_option_content > div {
	border: 1px solid white;
}
.quiz_option.quiz_incorrect > .quiz_option_content > div {
	color: #555;
}
.quiz_option.quiz_selected > .quiz_option_content > div {
	background: #555;
}
.quiz_option.quiz_incorrect.quiz_selected > .quiz_option_content > div {
	color: black;
}
.quiz_option:after {
	content: "";
	clear: both;
	display: table;
}
.quiz_option_content {
	display: block;
	float:left;
	width: 80%;
	text-align: left;
}
.quiz_option_content > div {
	border: 1px solid #555;
	border-radius: 0.2em;

	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}
.quiz_option_count {
	display: block;
	float:left;
	width: 20%;
/*	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
*/	text-align: center;
}
.quiz_prompt {
	margin: 5px;
}
div.row {
}
div.row:after {
	clear:both;
}
div.half {
	width:50%;
	float:left;
}
/* like etc. */
div.item_like {
	display: block;
	/*width: 100%;*/
	border: 1px solid #555;
	border-radius: 0.2em;
	margin: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	text-align: center;
}
div.item_like.item_liked {
	color: #888;
	background: #333;
}
div.item_like.disabled {
	color: #555;
	border: 1px solid #333;
}

@keyframes fade {
  from {color: #fff;}
  to {color: #444;}
}

.dark {
  animation-name: fade;
  animation-duration: 0.25s;
  color: #444;
}
@keyframes fadehr {
  from {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
  }
  to {
    color: #444;
    background-color: #444;
    border-color: #444;
  }
}
hr.dark {
  color: #444;
  background-color: #444;
  border-color: #444;
  animation-name: fadehr;
  animation-duration: 0.25s;
}
div.viewDivider {
	width: 50%;
	margin: auto;
}
div.viewDivider.dark {
	opacity: 0.3;
}
div.viewDivider > img {
	width: 100%;
	height: auto;
}
.flickerDiv {
	display: none;
	z-index: 2;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.flickerInner {
	position:relative;
}
.flickerImg {
	width:100%;
	height:auto;
}

/* content images, note workaround for https://github.com/angular/angular/issues/7845 */
:host ::ng-deep .view_large {
	width: 100%;
	height: auto;
}
/* content images */
:host ::ng-deep .view_medium {
	width: 66%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* content images */
:host ::ng-deep .view_small {
	width: 33%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
:host ::ng-deep h1 {
	font-family: "CATChilds", Times, serif;
}
:host ::ng-deep h2 {	
	font-family: "CATChilds", Times, serif;
}
:host ::ng-deep .centerText {
  text-align: center;
}