div.landing {
	z-index: 10;
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background: black;
	border: 3px solid #333;
}
div.landing.touched {
	background: #222;
	border: 3px solid #555;
}

div.landing > p {
	color: white;
	font-size: 36pt;
	text-align: center;
	vertical-align: middle;
}

div.button {
	display: inline-block;
	text-decoration: underline;
/*	background: #333;
	border: 1px solid #555;
	border-radius: 0.2em;
*/	margin: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}
span.toggleFullscreen {
	font-size: 0.4em;
	color: #666;
}

/* item layout - just copied from local-ui to start off with */
.item {
	border: 1px solid white;
	margin: 5px;
	padding: 4px;
}
.item_header:after {
	content: "";
	display: table;
	clear: both;
}
div.item_user_icon {
	float:left;
	display: block;
	width: 32px;
	height: 32px;
}
img.item_user_icon {
	width: 32px;
	height: 32px;
}
.item_header2 {
	float:left;
	/*width:420px;*/
}
.item_header {
	
}
.item_date {
	color: grey;
}
.item_content {
	margin: 5px;
}
div.item_image {
	margin: 5px;
}
img.item_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	min-width: 32px;
	min-height: 32px;
}