<div [ngClass]="{bodyPaper: !view, bodyDark: view}">

<div class="sidenav" [ngClass]="{'sidenavopen': showMenu && !view}">
 <div class="sidenavContent">
  <!-- <h1><span class="titleText">Losing Her Voice</span></h1> -->
  <a href="javascript:void(0)" class="closebtn" (click)="onShowMenu()">&times;</a>
  <div *ngFor="let menuItem of menuItems">
    <div class="menuItem" (click)="onShowMenuItem(menuItem)">{{menuItem.title}}<mat-icon *ngIf="menuItem.highlight">create</mat-icon></div>
    <div ><div class="smallDivider"><img src="assets/SmallDivider.png"></div></div>
  </div>
 </div>
</div>

<h1 [ngClass]="{dark: view && view.dark}" class="title">
	<span *ngIf="!view" class="button" (click)="onShowMenu()"><mat-icon>menu</mat-icon></span>
	<span class="titleText">
	Losing Her Voice 
	</span>
	<span (click)="toggleFullScreen()" class="toggleFullscreen"><mat-icon>fullscreen</mat-icon><!-- (toggle fullscreen) --></span>
</h1>

<div class='errorDialog' *ngIf="loading || (currentState && currentState.error)" >
	<h1 class="title">Losing Her Voice </h1>
	<div *ngIf="loading" padding class='errorText'>
	  Connecting to server...
	</div>
	<div *ngIf="currentState && currentState.error" padding class='errorText'>
	  Sorry, {{currentState.error}}
	</div>
</div>

<div class="flickerDiv" #flickerDiv>
  <div #flickerImg class="flickerInner">
    <img *ngIf="flickerImage" [src]="flickerImage" class="flickerImg">
  </div>
</div>
<div *ngIf="view && !view.showItems" [ngClass]="{dark: view && view.dark}">
  <div *ngFor="let card of view.cards">
    <div [innerHTML]="card.html"></div>
    <div><div class="viewDivider" [ngClass]="{dark: view && view.dark}"><img src="assets/ViewDivider.png"></div></div>
  </div>
  <div *ngIf="showPlay">
    <div class="button" (click)="onPlayAudio()">Play</div>
  </div>
</div>
<div *ngIf="view && view.showItems" [ngClass]="{dark: view && view.dark}">
	<div class="profile_name" (click)="onToggleEditProfile()">
		{{profileName}}<mat-icon *ngIf="!profileName" >create</mat-icon>
	</div>
	<profile-view *ngIf="editProfile" (fullNameSet)="onToggleEditProfile()"></profile-view>
	<div *ngIf="!editProfile"></div>
	<div *ngIf="selfieConfirmed && !!profileName && !selfieSent && view.postSelfie" class="row">
		<div class="item_like" [ngClass]="{item_liked: selfieSent, disabled: !selfieConfirmed || !profileName}" (click)="onShareSelfie()">Publish my Selfie</div>
	</div>
  <div class="mediaSpacer"></div>
  <posts ></posts>
</div>
<audio #audio (readystatechange)="onAudioReadyStateChange()" (canplay)="onCanPlay()" (load)="onLoad()" src="assets/pageflip.mp3"></audio>

<div *ngIf="showLanding" [ngClass]="{landing: true, touched: landingTouched}" (click)="onDismissLanding($event)">
 <div>
  <p class="coverText">Losing Her Voice</p>
  <div class="landingBorder">
  	<div class="landingL"><img src="assets/CoverTopLeft.png"></div>
  	<div class="landingM"></div>
  	<div class="landingR"><img src="assets/CoverTopRight.png"></div>
  </div>
  <div class="geraldineFace"><img src="assets/SplashScreenFace.png"></div>
  <p class="coverText">Tap to start</p>
  <p class="logNotice">Note: this app records anonymous usage data for research.</p>
  <div class="landingBorder">
  	<div class="landingL"><img src="assets/CoverBottomLeft.png"></div>
  	<div class="landingM"></div>
  	<div class="landingR"><img src="assets/CoverBottomRight.png"></div>
  </div>
 </div>
</div>

<router-outlet *ngIf="!view"></router-outlet>

<div [ngClass]="{showPopup: showNotifyPopup}" class="notifyPopup" (click)="onShowPosts()">
  <div class="notifyContent">
	  <div class="notifySpacer"></div>
	  <div class="notifyTopBorder">
	  	<div class="notifyL"><img src="assets/MediaTopLeft.png"></div>
	  	<div class="notifyM">
	  		New post <span *ngIf="currentItem">from
	  		</span><span *ngIf="currentItem" class="user_name">{{currentItem.user_name}}</span>...<br>
	  		(Tap to view)
	  	</div>
	  	<div class="notifyR"><img src="assets/MediaTopRight.png"></div>
	  </div>
	  <div class="notifySpacer"></div>
  </div>
</div>
  
</div>