div.landing {
	z-index: 10;
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background: black;
	border: 3px solid #333;
}
div.landing.touched {
	background: #222;
	border: 3px solid #555;
}

div.landing > p {
	color: white;
	font-size: 36pt;
	text-align: center;
	vertical-align: middle;
}

div.button {
	display: inline-block;
	text-decoration: underline;
/*	background: #333;
	border: 1px solid #555;
	border-radius: 0.2em;
*/	margin: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}
span.toggleFullscreen {
	font-size: 0.4em;
	color: #666;
}

/* item layout - just copied from local-ui to start off with */
.item {
	border: 1px solid white;
	margin: 5px;
	padding: 4px;
}
.item_repost_header {
	margin-bottom: 3pt;
}
.item_header:after {
	content: "";
	display: table;
	clear: both;
}
div.item_user_icon {
	float:left;
	display: block;
	width: 32px;
	height: 32px;
}
img.item_user_icon {
	width: 32px;
	height: 32px;
}
.item_header2 {
	float:left;
	/*width:420px;*/
}
.item_header {
	
}
.item_date {
	color: grey;
}
.item_content {
	margin: 5px;
}
div.item_image {
	margin: 5px;
}
img.item_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	min-width: 32px;
	min-height: 32px;
}
.quiz_question {
	margin: 5px;
}
.quiz_option {
	margin-left: 2em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.quiz_option.quiz_correct > .quiz_option_content > div {
	border: 1px solid white;
}
.quiz_option.quiz_incorrect > .quiz_option_content > div {
	color: #555;
}
.quiz_option.quiz_selected > .quiz_option_content > div {
	background: #555;
}
.quiz_option.quiz_incorrect.quiz_selected > .quiz_option_content > div {
	color: black;
}
.quiz_option:after {
	content: "";
	clear: both;
	display: table;
}
.quiz_option_content {
	display: block;
	float:left;
	width: 80%;
	text-align: left;
}
.quiz_option_content > div {
	border: 1px solid #555;
	border-radius: 0.2em;

	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}
.quiz_option_count {
	display: block;
	float:left;
	width: 20%;
/*	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
*/	text-align: center;
}
.quiz_prompt {
	margin: 5px;
}
div.row {
}
div.row:after {
	clear:both;
}
div.half {
	width:50%;
	float:left;
}
/* like etc. */
div.item_like {
	display: block;
	/*width: 100%;*/
	border: 1px solid #555;
	border-radius: 0.2em;
	margin: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	text-align: center;
}
div.item_like.item_liked {
	color: #888;
	background: #333;
}
div.item_like.disabled {
	color: #555;
	border: 1px solid #333;
}

@keyframes fade {
  from {color: #fff;}
  to {color: #444;}
}

.dark {
  animation-name: fade;
  animation-duration: 0.25s;
  color: #444;
}
@keyframes fadehr {
  from {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
  }
  to {
    color: #444;
    background-color: #444;
    border-color: #444;
  }
}
hr.dark {
  color: #444;
  background-color: #444;
  border-color: #444;
  animation-name: fadehr;
  animation-duration: 0.25s;
}
.flickerDiv {
	display: none;
	z-index: 1;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.flickerInner {
	position:relative;
}
.flickerImg {
	width:100%;
	height:auto;
}

/* content images, note workaround for https://github.com/angular/angular/issues/7845 */
:host ::ng-deep .view_large {
	width: 100%;
	height: auto;
}
/* content images */
:host ::ng-deep .view_medium {
	width: 66%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* content images */
:host ::ng-deep .view_small {
	width: 33%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
