<h1 (click)="toggleFullScreen()">Losing Her Voice <span class="toggleFullscreen"><mat-icon>fullscreen</mat-icon><!-- (toggle fullscreen) --></span></h1>

<div *ngIf="loading" padding>
  Loading...
</div>
<div *ngIf="currentState && currentState.error" padding>
  Sorry, {{currentState.error}}
</div>
<div *ngIf="showMenu">
  <div *ngFor="let menuItem of menuItems">
    <div class="button" (click)="onShowMenuItem(menuItem)">{{menuItem.title}}</div>
  </div>
</div>
<div *ngIf="showMenuItem">
  <div class="button" (click)="onShowMenu()">Back</div>
  <div><hr></div>
  <div *ngFor="let card of showMenuItem.cards">
    <div [innerHTML]="card.html"></div>
    <div><hr></div>
  </div>
</div>
<div *ngIf="view">
  <div><hr></div>
  <div *ngFor="let card of view.cards">
    <div [innerHTML]="card.html"></div>
    <div><hr></div>
  </div>
  <div *ngIf="showPlay">
    <div class="button" (click)="onPlayAudio()">Play</div>
  </div>
</div>
<audio #audio (readystatechange)="onAudioReadyStateChange()" (canplay)="onCanPlay()" (load)="onLoad()"></audio>

<div *ngIf="showLanding" [ngClass]="{landing: true, touched: landingTouched}" (touchstart)="onTouchLanding()" (touchend)="onDismissLanding($event)" (mousedown)="onTouchLanding()" (mouseup)="onDismissLanding($event)">
  <p>Touch to start...</p>
</div>