<div *ngIf="menuItems">
  <div *ngFor="let menuItem of menuItems">
    <div *ngIf="menuItem.showOnHome"><div class="smallDivider"><img src="assets/SmallDivider.png"></div></div>
    <div *ngIf="menuItem.showOnHome" class="menuItem" (click)="onShowMenuItem(menuItem)">{{menuItem.title}}<mat-icon *ngIf="menuItem.highlight">create</mat-icon></div>
  </div>
  <div class="afterMenu"></div>
</div>
<div *ngIf="performance">
    <div><div class="divider"><img src="assets/Divider.png"></div></div>
    <p class="performanceInfo">{{performance.title}}</p>
    <p class="performanceInfo">Starts: {{startDatetime}}</p>
    <div><div class="divider"><img src="assets/Divider.png"></div></div>
</div>
<div *ngIf="!performance">
    <div><div class="divider"><img src="assets/Divider.png"></div></div>
    <p class="performanceInfo">Sorry, I don't know which performance this is meant to be.</p>
    <div><div class="divider"><img src="assets/Divider.png"></div></div>
</div>
<div *ngIf="menuItem && menuItem.cards">
  <div *ngFor="let card of menuItem.cards">
    <div [innerHTML]="card.html"></div>
    <div><hr></div>
  </div>
</div>
