/* home.component */
div.button {
	display: block;
	/*width: 100%;*/
	border: 1px solid #555;
	border-radius: 0.2em;
	margin: 0.4em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: center;
}
.menuItem {
	font-family: "CATChilds", Times, serif;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	margin-left: 0.1em;
	margin-right: 0.1em;
	text-align: center;
	vertical-align: middle;
	font-size: 140%;
}
div.divider {
	width: 50%;
	margin: auto;
}
div.divider > img {
	width: 100%;
	height: auto;
}
p.performanceInfo {
	text-align: center;
}