div.button {
	display: block;
	/*width: 100%;*/
	border: 1px solid #555;
	border-radius: 0.2em;
	margin: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	text-align: center;
}
div.divider {
	width: 50%;
	margin: auto;
}
div.divider > img {
	width: 100%;
	height: auto;
}
/* content images, note workaround for https://github.com/angular/angular/issues/7845 */
:host ::ng-deep .view_large {
	width: 100%;
	height: auto;
}
/* content images */
:host ::ng-deep .view_medium {
	width: 66%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* content images */
:host ::ng-deep .view_small {
	width: 33%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
:host ::ng-deep h1 {
	font-family: "CATChilds", Times, serif;
}
:host ::ng-deep h2 {	
	font-family: "CATChilds", Times, serif;
}
:host ::ng-deep .centerText {
  text-align: center;

}