div.button {
	display: block;
/*	text-decoration: underline; */
	//background: #ddd;
	border: 1px solid #555;
	border-radius: 0.2em;
	margin: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	cursor:default;
	text-align: center;
	//opacity: 0.5;
}
div.button.disabled {
	color: #aaa;
	border: 1px solid #ccc;
}