<div>
	<div><hr></div>
	<!-- <h1>Selfie</h1> -->
	<!-- <div class="image_holder"><div class="image_inner">
		<img #image src="assets/default_user.png">
	</div></div> -->
	<div class="image_holder" ><div class="image_inner">
		<canvas #canvas width="400" height="400"></canvas>
	</div></div>
	<div *ngIf="!selfieConfirmed">
		<div class="text">Please set your selfie</div>
		<div>
			<input #fileInput type="file" accept="image/*" capture="user" (change)="onChangeFile($event)">
		</div>
		<div class="text">
			There is a chance to share your selfie in Act 2. 
			This will mean that your picture is seen by everyone in theatre, 
			and will also mean that your picture is visible in any recordings of the performance.
			These recordings will be publicly accessible after the show.
		</div>
		<div class="text">
			If you are happy to publish this picture and give consent for it to be used in this way, then please confirm below.
		</div>
		<div class="row">
			<div class="half">
				<div class="selfie_button" [ngClass]="{active:selfieDeclined, disabled:!selfiePresent || selfieConfirmed}" (click)="onDecline()">No thanks</div>
			</div>
			<div class="half">
				<div class="selfie_button" [ngClass]="{active:selfieAccepted, disabled:!selfiePresent}" (click)="onAccept()">I consent</div>
			</div>
		</div>
		<div *ngIf="selfieAccepted">
			<div class="text">Are you sure? You can't change or withdraw the picture after this, although you will still be able to decide whether to post it publicly.</div>
			<div class="row">
				<div class="half">
					<div class="selfie_button" (click)="onDecline()">No thanks</div>
				</div>
				<div class="half">
					<div class="selfie_button" (click)="onConfirm()">I confirm</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="selfieConfirmed">
		<div class="text">
			Thank you for confirming that you are happy for your picture is seen by everyone in theatre, 
			and for your picture to be included in any recordings of the performance.
			These recordings will be publicly accessible after the show.
		</div>
		<div *ngIf="!selfiePosted" class="text">
			You can't change or withdraw the picture now, but you can still decide whether to post it publicly.
		</div>
	</div>
	<div><hr></div>
</div>