/* You can add global styles to this file, and also import other style files */
body {
	background: black;
	color: white;
	font-family: Lato, Ariel, Helvetica, sans-serif;
}
@font-face {
  font-family: CATChilds;
  src: url("assets/CATChilds.ttf");
}
@font-face {
  font-family: Lato;
  src: url("assets/Lato-Regular.ttf");
}